
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: gray;
    width: 200px;
    height: 450px;
    display: flex;
    flex-direction:column ;
    gap: 2rem;
    padding: 2rem;

}

.item {
    background-color: orange ;
    height: 200px;
    width:  200px;
}

@media screen and (min-width:1024px) {

    .container{
        flex-direction: row;
        height: 200px;
        width: 450px;
    }
}